<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>c4e awesome</title>
  </head>
  <body>
    <h1>This is Heading</h1>
    <p>This is paragraph</p>

    <img src="https://media.giphy.com/media/nvFXMIhCneTvy/giphy.gif" alt="flasklogo">

    <a target="_blank" href="http://flask.pocoo.org/">click here</a>
    <a target="_blank" href="/h1">click here too</a>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

  </body>
</html>
