<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ví dụ về margin và padding</title>
    <style media="screen">
      h1{margin:100px}
      h2{margin: 2cm 2cm 2cm 2cm}
      p.pa{padding: 1cm; margin-left:1cm; margin-right: 2cm}
      p.pb{padding: 1cm 1cm;}
    </style>
  </head>
  <body>
      <p>Thẻ p bình thường</p>
      <h1>Thẻ h1 có margin</h1>
      <h2>Thẻ h2 này có margin 4 bề là 2cm</h2>
      <p class="pa">thẻ này có margin trái phải trên là 1cm</p>
      <p class="pb">thẻ này có margion trên dưới là 1 cm</p>
  </body>
</html>
