<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/homepage.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
  </head>
  <body>
    <div class="row">
      <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-dark">
        <a class="navbar-brand full-font text-light font-color" href="#">Mùa đông không lạnh</a>

        <ul class="navbar-nav ml-auto">
           <li class="nav-item">
             <a class="nav-link text-light" href="#">Về chúng tôi<span class="sr-only">(current)</span></a>
           </li>
           <li class="nav-item">
             <a class="nav-link text-light" href="#">Đăng nhập<span class="sr-only">(current)</span></a>
           </li>
         </ul>
      </nav>
    </div>
    <br>
    <br>
    <br>

    <div class="container">

      <form class="" action="" method="post">

        <div class="form-group">
          <label for="">Tên:</label>
          <input class ='form-control' type="text" name="name" value="" required>
        </div>

        <div class="form-group">
          <label for="">Ảnh:</label>
          <input class ='form-control' type="text" name="image" value="" required>
        </div>

        <div class="form-group">
          <label for="">Mô tả:</label>
          <input class ='form-control' type="text" name="description" value="" required>
        </div>

        <div class="form-group">
          <input class ="btn btn-info" type="submit" name="" value="Thêm">
        </div>





      </form>

    </div>








<footer class = 'footer bg-dark fixed-bottom'>
  <div class="row">
    <div class="container">
      <br>
      <h6 class='text-right text-light font-italic'>♫♪♪ Mọi thắc mắc và yêu cầu xin gửi về hòm mail: abc@gmail.com ♫♪♪</h6>
      <br>
    </div>
  </div>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

  </body>
</html>
